.row
  .twelve.columns
    %p
      %strong
        Electronic Data Magnetics, Inc.
      210 Old Thomasville Rd, High Point Nc 27260 - T: 
      %strong
        800.336.8115
      or 336.882.8115 - F: 336.882.96.44 - contact@electronicdata.com
