.row
  %h3
    EDM
    %small
      Magnetics for Anyone
  %ul.nav-bar
    %li
      %a{:href => '#home'}
        Home
    %li
      %a{:href => '#products'}
        Products
    %li
      %a{:href => '#industriesServed'}
        Industries Served
    %li
      %a{:href => '#qualityControl'}
        Quality Control
    %li
      %a{:href => 'designAndPrint'}
        Design & Print
    %li
      %a{:href => '#aboutUs'}
        About Us
    %li.has-flyout
      %a{:href => '#contactUs'}
        Contact Us
      .flyout.small
        %a{:href => '#fax'}
          Fax
        %br/
        %a{:href => '#phone'}
          Phone
        %br/
        %a{:href => '#email'}
          Email
