.row
  %h3
    EDM
    %small
      Magnetics for Anyone
  %ul.nav-bar
    %li
      %a{:href => '#home', :class => 'main'}
        Home
    %li
      %a{:href => '#products', :class => 'main'}
        Products
    %li
      %a{:href => '#industriesServed', :class => 'main'}
        Industries Served
    %li
      %a{:href => '#qualityControl', :class => 'main'}
        Quality Control
    %li
      %a{:href => 'designAndPrint', :class => 'main'}
        Design & Print
    %li
      %a{:href => '#aboutUs', :class => 'main'}
        About Us
    %li.has-flyout
      %a{:href => '#contactUs', :class => 'main'}
        Contact Us
      .flyout.small
        %a{:href => '#fax', :class => 'main'}
          Fax
        %br/
        %a{:href => '#phone', :class => 'main'}
          Phone
        %br/
        %a{:href => '#email', :class => 'main'}
          Email
